<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Topbar -->
    <nav th:fragment="topbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <form class="form-inline">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
        </form>


        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">
            <li><a href="/students/new">New Student</a></li>
        </ul>

    </nav>
    <!-- End of Topbar -->
</head>
<body>

</body>
</html>